<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./asset/font/font.css" />
    <link rel="stylesheet" href="./src/css/style.css" />
    <script src="./src/js/fontawesome.min.js"></script>
    <script src="./src/js/jQuery.js"></script>
    <script src="./src/js/ejs/ejs.js"></script>
    <title>حامد یاقوتی</title>
  </head>
  <body>
    <div id="root" class="container-lg"></div>

    <script id="template" type="text/x-ejs-template">
      <div
        class="about d-flex justify-content-between mx-auto position-relative"
      >
        <div class="bio">
          <h1><%=user.name%></h1>
          <% user.about.content.forEach(function(item){ %>
            <p><%= item %></p>
          <% }); %>
        </div>
        <div class="image d-none d-sm-block">
          <img class="shape-top" src="<%= user.about.img[0]%>" />
          <img
            class="shape-bot position-absolute"
            src="<%= user.about.img[1]%>"
          />
        </div>
      </div>
      <div class="contact d-flex">
        <% user.contact.social.forEach(function(item){ %>
          <a href=<%=item.url%> target="_blank">
            <i class='<%=item.icon%>'></i>
          </a>
        <% }); %>
      </div>
    </script>
    <script>
      $(document).ready(function () {
        $.getJSON("./src/data/profile.json", function (res) {
          var template = $("#template").html();
          var data = { user: res };
          var html = ejs.render(template, data);
          document.getElementById("root").innerHTML = html;
        });
      });
    </script>
  </body>
</html>
